@import 'ngx-toastr/toastr';
@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}




.active-item {
  @apply text-white w-full text-center font-semibold text-2xl text-nowrap p-1.5 hover:bg-gradient-to-tl transition-all  bg-gradient-to-tr from-purple-600 to-blue-500 rounded-tl rounded-br
}

.not-active {
  @apply font-semibold w-full text-center text-2xl text-nowrap p-1.5 rounded-tl rounded-br border-2 border-transparent;

  background-image: linear-gradient(to right, #8b5cf6, #3b82f6);
  background-origin: border-box;
  background-clip: text, border-box;

  -webkit-background-clip: text; /* Ensures text has a gradient */
  -webkit-text-fill-color: transparent; /* Makes the text transparent so the gradient is visible */

  border-image-source: linear-gradient(to right, #3bc9f3, #1591d8);

  border-image-slice: 1; /* This ensures the gradient is applied to the entire border */
}

.logout{
  @apply w-full p-2 hover:bg-gradient-to-tl transition-all  bg-gradient-to-tl from-red-600 to-yellow-500 rounded-tl rounded-br  items-center justify-center
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
